@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 158, 216);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: poppins;
    color: white;
}

#nav, #logos {
    margin-left: 20%;
}

#name {
    font-weight: bold;
    font-size: 2em;
}

#nav ul {
    display: flex;
    justify-content: space-between;

    font-size: 1em;
    float: right;
    padding: 1.6em;
}

#logos ul {
    display: flex;
    justify-content: space-between;
    float: right;

    padding: 0.7em;
}

#logos ul div {
    background-color: white;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

    display: flex;
}

#logos ul div a {
    margin: auto;
}

#logos ul div a img {
    width: 2em;
    height: 2em;
    margin: auto;
    display: block;
}

#hero {
    width: 100%;
    height: 85vh;

    background-image: linear-gradient(rgba(8, 211, 247, 0.151), rgba(8, 211, 247, 0.151)), url('images/Me/20200515_132430.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    font: medium;
}

#hero-title {
    font-weight: bold;
    font-size: 4em;

    padding: 6% 0% 0% 11%;
    width: 45%;
}

#hero-subtitle {
    font-size: 1em;

    padding: 0% 0% 0% 11%;
    width: 45%;
} 

#featured {
    font-family: poppins;
    
    padding: 4em 4em 0 6em;
    position: relative;

    display: flex;
    justify-content: space-between;
}

#featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(255, 210, 174);

    top: 0;
    left: 0;
    z-index: -1;
}

#featured-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(247, 144, 59);
    letter-spacing: .2em;
    font-size: 1em;
}

#featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -0.4em;
}

#featured-desc {
    color: #383838;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
    max-width: 600px;
}

#featured-right img {
    width: 500px;
    height: auto;
    border-radius: 10%;
    border: 10px solid rgb(247, 144, 59);
}

#skills {
    background: rgb(247, 144, 59);
    padding: 2em;
    padding-top: 6em;
    margin-top: -4em;

    font-family: poppins;
}

#skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 4em;
    padding: 0 4em;
}

#skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 4em;
    margin-bottom: 1em;

    text-align: center;
}

#icon-1, #icon-2, #icon-3 {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
}

#icon-1 img, #icon-2 img, #icon-3 img {
    width: 75px;
}

.skill-title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.skill-desc {
    margin-bottom: 2em;
    font-size: 0.9em;
}


#footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 158, 216);

    font-family: poppins;
    color: white;
}

#footer h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    vertical-align: center;
    line-height: 15vh;
} 
